// D3 chart
.d3-chart {
	svg {
		font-family: $fontface-sansSerif;
		width: 100%;
		path, line, rect {
			shape-rendering: auto;
		}
	}
}

// D3 tooltip
@import 'd3/tip';

// D3 menu
@import 'd3/menu';