// Dropzone
.dropzone__input {
	background-color: rgba(#ddd, .85);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	@include transition;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	label {
		position: relative;
		& + input[type='file'] {
			display: none;
			width: 0;
			height: 0;
			pointer-events: none;
		}
	}

	span.progress {
		@include gentle-gradient($ui_ok);
		opacity: .5;
		width: 0;
		position: absolute;
		top: 0;
		bottom: 0;
	}
}

.dropzone__message {
	background-color: rgba(#000,.85);
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	opacity: 1;
	padding: 1rem 3rem;
	pointer-events: auto;
	width: 100%;
	@include transition;

	a, code { color: #eee; }

	// Variants
	&.warning {
		@include gentle-gradient($ui_warning);
	}
	&.reminder {
		@include gentle-gradient($ui_reminder);
	}

	// States
	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

@supports (backdrop-filter: none) {
	.dropzone__input {
		background-color: rgba(#ddd,.5);
		backdrop-filter: blur(10px);
	}
}