// Mixins
@import 'variables';
@import 'mixins';
@import 'type';

@import 'components/form/input-suggestions';

#searchform-tabs {
	#searchform-tabs__nav {
		ul {
			li {
				flex: 1 1 auto;
				width: auto;
			}
		}
	}

	.full-width {
		width: 100%;
	}
}

#twitter-timeline {
	position: relative;
	iframe.twitter-timeline-rendered {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
	}
}