// Mixins
@import 'variables';
@import 'mixins';
@import 'type';

@import 'components/form/input-suggestions';
@import 'components/odometer';

#searchform-tabs {
	#searchform-tabs__nav {
		ul {
			li {
				flex: 1 1 auto;
				width: auto;
			}
		}
	}

	.full-width {
		width: 100%;
	}
}

#twitter-timeline {
	position: relative;
	iframe.twitter-timeline-rendered {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

@media (max-width: 767px) {
	#twitter-timeline {
		iframe.twitter-timeline-rendered {
			position: static !important;
			height: 25rem !important;
		}
	}
}