// Mixins
@import 'variables';
@import 'mixins';
@import 'type';

@import 'components/odometer';

// Toggle
#stats-toggle {
	span.subset {
		line-height: 2rem;
		font-weight: bold;
		color: $lotusPrimary3;

		&.inactive {
			color: #999;
		}
	}
	#stats-toggle__subset {
		margin-left: .75rem;
		margin-right: .75rem;
	}
}

// Statistics
.lore1__stats {
	margin-bottom: 1.5rem;

	& > div {
		width: 33%;
	}

	.count {
		color: #555;
		display: block;
		font-family: 'Open Sans Condensed', $fontface-sansSerifCondensed;
		font-weight: 300;
		font-size: 4em;
		line-height: 1.2em;
	}
	.subset-text {
		color: darken($lotusPrimary3,10);
		font-weight: bold;
	}

}

// Pie charts
.lore1__pie {

	& > div {
		width: 33%;
	}

	svg {
		width: 75%;
	}
}