// Mixins
@import 'variables';
@import 'mixins';
@import 'type';

// Simple card
@import 'components/simple-card';

// Dropzone
@import 'components/dropzone';

// Floating controls
@import 'components/floating-controls';

// Faceted view
@import 'components/facet';

// D3 tooltip
@import 'components/d3/_tip.scss';

/*-------------------------------------------- 
------------------ PHYALIGN ------------------
----------------------------------------------*/
// Tree and controls wrapper
#phyalign-tree {
	margin: 3rem 0 0 0;
}

// Form
.dropzone {
	position: relative;
	.legend {
		z-index: 52;
	}
	.dropzone__input, .dropzone__message {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 50;
	}
	.dropzone__message {
		z-index: 51;
	}
}
#phyalign-form__tree {
	margin-bottom: 1.5rem;
}

// Tree SVG
#phyalign-tree__svg {
	svg {
		cursor: grab;
		display: block;
		width: 100%;
		height: 85vh;

		g {
			&.labels {
				text {
					cursor: pointer;
				}
			}
		}

		#capture {
			fill: rgba(#fff,.25) !important;
		}

		.link-extensions {
			fill: none;
			stroke: #555;
			stroke-opacity: .5;
		}

		.link--active {
			stroke: #000 !important;
			stroke-width: 2px !important;
		}

		.link-extension--active {
			stroke-opacity: .8;
		}

		.node--active {
			fill: #000 !important;
		}

		.label--active {
			font-weight: bold;
		}
	}
}

