// D3 menu
.d3-menu {
	background: rgba(255,255,255,.95);
	border-radius: 4px;
	color: #333;
	box-shadow: 0 0 .5rem .25rem rgba(#000,.15);
	font-size: .85em;
	overflow: hidden;
	position: relative;
	pointer-events: none;
	transition: opacity .125s ease-in-out;
	z-index: 30;

	ul {
		list-style: none;
		li {
			a {
				border-bottom: 1px solid $lotusPrimary3;
				color: darken($lotusPrimary3, 10%);
				cursor: pointer;
				display: block;
				margin: 0;
				padding: .5rem 1rem;
				text-align: left;
				text-decoration: none;
				text-shadow: none;
				&:hover {
					background-color: $lotusPrimary3;
					color: #eee;
				}
			}
			&:last-child a { border: none; }
		}
	}
}