// D3 tooltip
.d3-tip {
	background: rgba(255,255,255,.95);
	border-radius: 4px;
	color: #333;
	box-shadow: 0 0 1em 0 rgba(0,0,0,.25);
	font-size: .85em;
	padding: 1em;
	position: relative;
	pointer-events: none;
	transition: opacity .125s ease-in-out;
	z-index: 30;

	&::before {
		border: 10px solid rgba(0,0,0,0);
		content: '';
		display: 'block';
		position: absolute;
		left: 50%;
		margin-left: -10px;
		width: 0;
		height: 0;
		pointer-events: none;
	}
	
	&.tip--top::before {
		border-bottom-color: rgba(255,255,255,.95);
		top: -20px;
	}
	&.tip--bottom::before {
		border-top-color: rgba(255,255,255,.95);
		bottom: -20px;
	}
	&.tip--left::before {
		border-right-color: rgba(255,255,255,.95);
		left: -10px;
	}
	&.tip--right::before {
		border-left-color: rgba(255,255,255,.95);
		right: -10px;
	}

	ul {
		list-style: none;
		.value span {
			color: $lotusPrimary3;
			font-weight: bold;
		}

		span.pill {
			background-color: #999;
			color: #fff;
			padding: .125rem .5rem;
			border-radius: .75rem;
		}

		&.leaf-list {
			max-height: 20rem;
			overflow-y: auto;
		}
	}
}