<div id="lotusbase__wrap">
<div id="lotusbase__container">

<header id="header">
	<div class="header-content">
		<div class="align-center">
			<h1>The <em>Lotus</em> Base Blog</h1>
			<span class="byline">Our jotter of rambunctious thoughts.</span>
		</div>
	</div>

	<nav class="cf main">
		<ul>
			<li class="h-home"><a href="/" title="Home"><em>Lotus</em> Base</a></li>
			<li class="h-lore1 has-child" data-group="lore1"><a href="/lore1/" title="LORE1 Resources">LORE1</a>
				<ul>
					<li><a href="/lore1/search" title="Search for LORE1 lines">LORE1 lines search</a></li>
					<li><a href="/lore1/order" title="Order LORE1 lines">Order lines</a></li>
					<li><a href="/lore1/order-search" title="Search for ordered LORE1 lines">Order history</a></li>
					<li><a href="/lore1/primers" title="Genotyping Primer Order Sheet">Genotyping Primers</a></li>
				</ul>
			</li>
			<li class="h-tools has-child" data-group="tools"><a href="/tools" title="Tools">Tools</a>
				<ul>
					<li><a href="/blast-carb/" title="BLAST">BLAST</a></li>
					<li><a href="/tools/corgi" title="Correlated Genes Identifier (CORGI)">CORGI</a></li>
					<li><a href="/tools/cornet" title="Correlated Genes Network (CORNET)">CORNET</a></li>
					<li><a href="/expat/" title="Expression Atlas (ExpAt)">Expression Atlas (ExpAt)</a></li>
					<li><a href="/genome" title="Genome Browser">Genome Browser</a></li>
					<li><a href="/tools/primers" title="Primer ordering">Primer Ordering</a></li>
					<li><a href="/tools/seqpro" title="Sequence Processor (SeqPro)">SeqPro</a></li>
					<li><a href="/tools/seqret" title="Sequence Retrieval (SeqRet)">SeqRet</a></li>
					<li><a href="/tools/trex" title="Transcript Explorer (TREX)">TrEx</a></li>
				</ul>
			</li>
			<li class="h-data has-child" data-group="data"><a href="/data/" title="Data">Data</a>
				<ul>
					<li><a href="/data/codon-usage" title="Codon Usage Table">Codon Usage</a></li>
					<li><a href="/data/download" title="Downloads">Downloads</a></li>
				</ul>
			</li>
			<li class="h-meta has-child" data-group="meta"><a href="/meta/" title="Info">Info</a>
				<ul>
					<li><a href="/meta/team" title="Lotus Base Team"><em>Lotus</em> Base Team</a></li>
					<li><a href="/meta/faq" title="Frequently Asked Questions">FAQ</a></li>
					<li><a href="/meta/legal" title="Privacy &amp; Terms of Use">Privacy &amp; Terms</a></li>
					<li><a href="/meta/contact" title="Contact Us">Contact</a></li>
					<li><a href="/issue" title="Open issue or propose enhancements">Open Issue</a></li>
				</ul>
			</li>
			<li class="h-search">
				<a href="/search" title="Search site" class="search-link">Search</a>
				<form method="get" class="search-form" action="/search" id="nav-search-form">
	<button class="pictogram icon-search icon--no-spacing"></button>
	<input type="search" name="q" placeholder="Search term">
	<select class="qtype" id="qtype-1"><option disabled="" value="">Select a search type</option><option value="general" data-input-placeholder="Search term" data-form-query-var="q" data-form-action="/search" data-form-params="">General</option><option value="lore1_v25" data-input-placeholder="Search term" data-form-query-var="pid" data-form-action="/lore1/search-exec" data-form-params="{&quot;v&quot;:25}">LORE1 v2.5</option><option value="lore1_v30" data-input-placeholder="Search term" data-form-query-var="pid" data-form-action="/lore1/search-exec" data-form-params="{&quot;v&quot;:30}">LORE1 v3.0</option><option value="gene" data-input-placeholder="Search term" data-form-query-var="trx" data-form-action="/tools/trex" data-form-params="">Gene</option></select>
	
	<button type="submit"><span class="pictogram icon-search icon--no-spacing"></span></button>
</form>
			</li>
		</ul>
	</nav>

</header>