<div id="lotusbase__wrap">
<div id="lotusbase__container">

<header id="header">
	<div class="header-content">
		<div class="align-center">
			<h1>The <em>Lotus</em> Base Blog</h1>
			<span class="byline">Our jotter of rambunctious thoughts.</span>
		</div>
	</div>

	<nav class="cf main">
		<ul>
			<li class="h-home"><a href="/" title="Home"><img class="logo" src="/dist/images/logos/lotusbase-color.svg" alt="Lotus Base" title="Lotus Base"><em>Lotus</em> Base</a></li>
			<li class="h-lore1 has-child" data-group="lore1"><a href="/lore1/" title="LORE1 Resources">LORE1</a>
				<ul>
					<li><a href="/lore1/search" title="Search for LORE1 lines">LORE1 lines search</a></li>
					<li><a href="/lore1/order" title="Order LORE1 lines">Order lines</a></li>
					<li><a href="/lore1/order-search" title="Search for ordered LORE1 lines">Order history</a></li>
					<li><a href="/lore1/primers" title="Genotyping Primer Order Sheet">Genotyping Primers</a></li>
				</ul>
			</li>
			<li class="h-tools has-child" data-group="tools"><a href="/tools" title="Tools">Tools</a>
				<ul>
					<li><a href="/blast-carb/" title="BLAST">BLAST</a></li>
					<li><a href="/tools/corgi" title="Correlated Genes Identifier (CORGI)">CORGI</a></li>
					<li><a href="/tools/cornet" title="Correlated Genes Network (CORNET)">CORNET</a></li>
					<li><a href="/expat/" title="Expression Atlas (ExpAt)">Expression Atlas (ExpAt)</a></li>
					<li><a href="/genome" title="Genome Browser">Genome Browser</a></li>
					<li><a href="/tools/primers" title="Primer ordering">Primer Ordering</a></li>
					<li><a href="/tools/seqpro" title="Sequence Processor (SeqPro)">SeqPro</a></li>
					<li><a href="/tools/seqret" title="Sequence Retrieval (SeqRet)">SeqRet</a></li>
					<li><a href="/tools/trex" title="Transcript Explorer (TREX)">TrEx</a></li>
				</ul>
			</li>
			<li class="h-data has-child" data-group="data"><a href="/data/" title="Data">Data</a>
				<ul>
					<li><a href="/data/codon-usage" title="Codon Usage Table">Codon Usage</a></li>
					<li><a href="/data/download" title="Downloads">Downloads</a></li>
				</ul>
			</li>
			<li class="h-meta has-child" data-group="meta"><a href="/meta/" title="Info">Info</a>
				<ul>
					<li><a href="/meta/team" title="Lotus Base Team"><em>Lotus</em> Base Team</a></li>
					<li><a href="/meta/faq" title="Frequently Asked Questions">FAQ</a></li>
					<li><a href="/meta/legal" title="Privacy &amp; Terms of Use">Privacy &amp; Terms</a></li>
					<li><a href="/meta/contact" title="Contact Us">Contact</a></li>
					<li><a href="/issue" title="Open issue or propose enhancements">Open Issue</a></li>
				</ul>
			</li>
			<li class="h-search">
				<a href="/search" title="Search site" class="search-link">Search</a>
				<form method="get" class="search-form" action="/search" id="nav-search-form">
	<button class="pictogram icon-search icon--no-spacing"></button>
	<input type="search" name="q" placeholder="Search term">
	<select class="qtype" id="qtype-1"><option disabled="" value="">Select a search type</option><option value="general" data-input-placeholder="Search term" data-form-query-var="q" data-form-action="/search" data-form-params="">General</option><option value="lore1_v25" data-input-placeholder="Search term" data-form-query-var="pid" data-form-action="/lore1/search-exec" data-form-params="{&quot;v&quot;:25}">LORE1 v2.5</option><option value="lore1_v30" data-input-placeholder="Search term" data-form-query-var="pid" data-form-action="/lore1/search-exec" data-form-params="{&quot;v&quot;:30}">LORE1 v3.0</option><option value="gene" data-input-placeholder="Search term" data-form-query-var="trx" data-form-action="/tools/trex" data-form-params="">Gene</option></select>
	
	<button type="submit"><span class="pictogram icon-search icon--no-spacing"></span></button>
</form>
			</li>
		</ul>
	</nav>

	<div id="top-notifications">
		<div id="cookie-consent" class="site-notification" style="display: none !important;">
			<span class="pictogram icon-attention"></span>
			<p><em>Lotus</em> Base uses cookies to allow user preferences to be stored. By continuing to browse the site you are agreeing to our use of cookies.<br><a href="./terms.php" class="icon button" data-action="read">Read more</a> <a href="#" class="icon button" data-action="dismiss">Accept cookie use and dismiss message</a></p>
		</div>

		<div id="browser-features-warning" class="site-notification notification__visible">
			<span class="pictogram icon-attention"></span>
			<p>Your browser is unable to support new features implemented in HTML5 and CSS3 to render this site as intended. Your experience may suffer from functionality degradation but the site should remain usable. We strongly recommend the latest version of <a href="http://google.com/chrome/" title="Google Chrome">Google Chrome</a> or <a href="http://mozilla.org/firefox/" title="Mozilla Firefox">Mozilla Firefox</a>. <a href="#" class="icon button" title="I understand" data-action="dismiss">Dismiss message</a></p>
		</div>

		
		<div id="intranet-client" class="site-notification">
			<p>You appear to be visiting from the Aarhus University intranet with the IP address of <strong>10.14.54.59</strong>. You will see contents that are usually not seen by public visitors, and will be able to access a wider range of functionalities. <a href="#" class="icon button" data-action="dismiss">Ok, I got it.</a></p>
		</div>
		

	</div>

</header>